<div class="flat-container">
  <div class="card-flats">
    <h1>
      <i class="fas fa-map-marker-alt small"></i> <strong>Lyon</strong>
      <span class="badge badge-pill badge-primary"><%= current_user.flats.count %></span>
    </h1>

    <ul id="flats-map" class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="fas fa-building text-muted"></i> <strong>My flats to rent</strong>
      </li>
      <% @flats.each do |flat| %>
        <% if flat.to_rent == true %>
          <%= render 'flat_item_in_menu',
              flat: flat %>
        <% end %>
      <% end %>
      <li class="list-group-item">
      <i class="fas fa-building text-muted"></i> <strong>My other flats</strong></li>
      <% @flats.each do |flat| %>
        <% if flat.to_rent == false %>
          <%= render 'flat_item_in_menu',
              flat: flat %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
