<div class="bubble-flat">
	<div class="flat-img">
		<%= raw(badge('Details', 'light', 'eye', flat_path(flat.id))) %>
	</div>
	<div class="flat-info">
		<span><i class="fas fa-map-marker-alt text-primary"></i> <%= short_text(flat.address, 24) %></span>
		<span><i class="fas fa-bed text-primary"></i> <%= pluralize(flat.nb_rooms, 'room') %></span>
		<span><i class="fas fa-vector-square text-primary"></i> <%= flat.surface.to_i %> m<sup>2</sup></span>
		<span><i class="fas fa-couch text-primary"></i> <%= flat.furnished ? "Furnished"  : "Not furnished" %></span>
	</div>
</div>
