<div class="card-flats">
	<h1>
		<i class="fas fa-building"></i> 
		My flats near <i class="fas fa-map-marker-alt small"></i> <strong>Lyon</strong>
		<span class="badge badge-pill badge-primary"><%= current_user.flats.count %></span>
	</h1>

	<ul class="list-group list-group-flush">
	<% @flats.each do |flat| %>
		<li class="list-group-item d-flex justify-content-between">
			<%= flat.address %>
			<div class="actions">
				<%#= link_to "Candidates (#{flat.num_candidates})", flat_rental_path(flat, flat.pending_rental_id) if flat.pending_rental? %>
				<%#= raw("<a href=\"#{new_flat_rental_path(flat.id)}\" class=\"badge badge-pill badge-warning\">new rental #{flat.to_rent ? "(urgent)" : "(not urgent)"}</a>") if flat.pending_rental? == false %>
				<%# TO RENT BUTTON %>
				<% if flat.pending_rental? %>
					<%= link_to raw(bagde(pluralize(flat.num_candidates, 'candidate'), 'danger', 'street-view', flat_rental_path(flat, flat.pending_rental_id))) %>
				<% else %>
					<% bagde_class = flat.to_rent ? 'danger' : 'warning' %>
					<%= link_to raw(bagde('New rental', bagde_class, 'file-import', new_flat_rental_path(flat.id))) %>
				<% end %>
				<%# DETAILS BUTTON %>
				<%= link_to raw(bagde('Details', 'primary', 'info', flat_path(flat.id))) %>
			</div>
		</li>
	<% end %>
	</ul>
</div>

<%# MAPBOX %>
<div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
