<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		id: "flat-details",
		title: "Flat details <small class=\"text-muted\">##{@flat.id}</small>",
		links: [
			{ text: "My flats", link: flats_path },
			{ text: "Flat ##{@flat.id}" }
		],
		cta: "#{link_to 'Edit', edit_flat_path, class: 'btn btn-outline-secondary'} #{link_to 'New rental', new_flat_rental_path(@flat), class: 'btn btn-primary'}",
		flat: @flat
%>

<div id="flat-details" class="container">
	<div class="row">
		<%# MAP %>
		<div class="col col-sm-12 col-lg-6">
			<div id="map" style="width: 100%; height: 540px;" data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
		</div>
		<%# RENTAL %>
		<div class="col col-sm-12 col-lg-6">
			<h2>Rental history</h2>
			<% @flat.rentals.order(:start_date).reverse.each do |rental| %>
				<div class="card-dashboard">
					<div class="card-content no-gutters">
						<div class="d-flex justify-content-between">
							<h3><%= link_to "Rental ref. #F#{@flat.id}R#{rental.id}" , flat_rental_path(@flat, rental), class: 'text-secondary'%></h3>
							<%= raw(badge(rental.status[:text], rental.status[:color], rental.status[:icon], flat_rental_path(@flat, rental.id), false)) %>
						</div>
						<div class="row py-3">
							<%# RENTAL IS PENDING %>
							<% if rental.pending %>
								<div class="col-5">
									<i class="fas fa-users text-primary"></i> <strong><%= pluralize(rental.dossiers.count, 'candidate') %></strong>
								</div>
								<div class="col-7">
									<% rental.dossiers.each do |dossier| %>
										<%= cl_image_tag("Faces/#{dossier.candidate.facebook_picture_url}", width: 475, height: 300, crop: :fit, class: 'avatar-small') %>
									<% end %>
								</div>
							<%# RENTAL IS CLOSED %>
							<% else %>
									<div class="col-4">
										<i class="fas fa-user text-primary"></i> <small class="text-muted">tenant</small><br/>
									</div>
									<div class="col-8">
										<%= cl_image_tag("Faces/#{User.find(rental.tenant_id).facebook_picture_url}",
									:transformation=>[{ :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>'200', :crop=>"scale"}], :class => "avatar mr-3") %>
										<strong><%= "#{User.find(rental.tenant_id).first_name} #{User.find(rental.tenant_id).last_name}" %></strong>
									</div>
							<% end %>
						</div>
						<%# RENTAL DETAILS %>
						<div class="col-12 py-1">
							<i class="fas fa-hand-holding-usd text-primary"></i> <strong><%= number_with_precision(rental.initial_rent, precision: 2) %>€</strong> <small class="text-muted">/ month</small>
						</div>
						<div class="row py-1">
							<div class="col-6">
								<i class="fas fa-calendar-alt text-primary"></i> <small class="text-muted">start date</small> <strong><%= rental.start_date %></strong>
							</div>
							<div class="col-6">
								<i class="fas fa-calendar-alt text-primary"></i> <small class="text-muted">end date</small> <strong><%= rental.end_date ? rental.end_date : 'undefined' %></strong>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

