<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		title: "Rental created! <i class=\"fas fa-check text-primary\"></i>",
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id} (created)" }
		],
		flat: @flat
%>

<div class="container">
	<%# CREATE A NEW RENTAL %>
	<div class="row">
		<div class="col col-sm-12 col-lg-8">
			<%# 1. FLATER RENTAL LINK %>
			<p class="lead">1. You can <strong>copy and paste the following link</strong> in your ad, so candidates can provide here their application documents:</p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Copy</span>
				</div>
				<input class="inputCopy form-control" value="<%= "https://submit.flater.app/f#{@flat.id}r#{@rental.id}" %>" />
				<%# link: www.flater.co/flats/#{@flat.id}/rentals/#{@rental.id}/dossier/new %>
			</div>

			<p class="lead"><strong>Alternatively</strong>, you can use:</p>
			<%# 2. FLATER RENTAL REFERENCES %>
			<p>2. The <strong>Flater dossier reference</strong> after login <a href="#">in application page</a>:</p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Copy</span>
				</div>
				<input class="inputCopy form-control" value="#F<%= @flat.id%>R<%=@rental.id%>" />
			</div>
			<%# 3. FLATER RENTAL EMAIL %>
			<p>3. This <strong>email</strong> so notifications and applications are pushed in <%= link_to 'your dashboard', dashboard_path %>:</p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Copy</span>
				</div>
				<input class="inputCopy form-control" value="F<%= @flat.id%>R<%=@rental.id%>@flater.app" />
			</div>

			<%= link_to "Back to my flats", flats_path , {:class=>"btn btn-outline-primary"} %>
		</div>
		<%# FLATER BOT %>
		<div class="col col-sm-12 col-lg-4">
			<%= render 'layouts/shared/flater-bot',
					bot_message: "Well done! I hope you will receive dozen and dozen of applications! <strong>Don't worry, I will preselect the best one for you!</strong>"
			%>
		</div>
	</div>
</div>
