<div class="container">
	<h1>Rental created! </h1>

	<br>
	<p>You have created a <strong>new rental</strong> for your flat located <strong><%= @flat.address %></strong>:</p>


	<p>> You can use the following <strong>link</strong> in your add, so candidates can provide their application documents:</p>
	<div style="border: 1px solid black; padding: 4px">
		<em><%= "www.flater.co/flats/#{@flat.id}/rentals/#{@rental.id}/dossier/new" %></em>
	</div>
	<br>
	<p>> Alternatively, use the following <strong>references</strong> to access the right page:</p>
	<div style="border: 1px solid black; padding: 4px">
		<em>Flater references: flat <%= @flat.id%> and rental <%=@rental.id%></em>
	</div>
	<br>

	<%= link_to "Back to my flats", flats_path , {:class=>"btn btn-primary"} %>

</div>