<h1>MY APPLICATIONS</h1>

<ul>
		<% @pending_rentals.each do |rental| %>
			<li>
				<%= "Rental id: #{rental.id} - Flat id: #{rental.flat.id} - pending: #{rental.pending}" %>
				<%= link_to "Details", flat_rental_path(rental.flat, rental)  %>
				<%= "--> #{rental.dossiers.count} applications"%>
				<%= "(#{rental.dossiers.where(status: "visiting").count} visiting and"%>
				<%= "#{rental.dossiers.where(status: "ok_for_visit").count} ok for visit)"%>
			</li>
		<% end %>
</ul>

