<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		id: 'create-rental',
		title: 'Create a new rental',
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Create a new rental" }
		],
		flat: @flat
%>

<div class="container">
	<%# CREATE A NEW RENTAL %>
	<div class="row">
		<div class="col col-sm-12 col-lg-8">
			<%= simple_form_for([@flat, @rental]) do |f| %>
		  <div class="form-inputs">
				<%= f.input :description, label: "Complementary information", input_html: { value: @flat.description } %>
		    <%= f.input :start_date, as: :date, html5:true, input_html: { :value => Date.today, class: "datepicker"} %>
		    <%= f.input :initial_rent, label: "Initial rent (€ / month, excl. charges)", input_html: { value: (@flat.surface*14).to_i } %>
		    <%= f.button :submit, class: "btn btn-primary" %>
      	<%= link_to "‹ Back", :back, class: 'btn btn-secondary' %>
		  </div>
		<% end %>
		</div>
		<div class="col col-sm-12 col-lg-4">
			<%# FLATER BOT %>
			<%= render 'layouts/shared/flater-bot',
					bot_message: "<p><strong class=\"text-primary\">Flater Bot:</strong> Hey #{current_user.first_name}! Do you know typical rent in this neighbourhood goes from <strong>#{(@flat.surface*14).to_i}€</strong> to <strong>#{(@flat.surface*16).to_i}€</strong> per month for a <strong>#{'furnished ' if @flat.furnished}#{@flat.surface.to_i} m²</strong> flat with <strong>#{pluralize(@flat.nb_rooms, 'room')}</strong>?</p>
					<p>If you have any question, just ask!</p>"
			%>
		</div>
	</div>
</div>

