<div class="container">
	


	<h1>Organize a visit</h1>

	<h3><%= @flat.address %></h1>

	<div>
		<br>
		<p>You will <strong>send a message</strong> to the following candidates for the visit:</p>
			<ul>
				<% @rental.dossiers.each do |dossier| %>
					<% if dossier.status == "visiting"%>
						<li>
				<!-- DESCRIPTION -->
							<strong>
							<%= "#{dossier.candidate.first_name} #{dossier.candidate.last_name}" %>
							</strong>
							<%= "(#{dossier.candidate.email})" %>
						</li>
					<% end %>
				<% end %>
			</ul>


		<%= simple_form_for (@task) do |f| %>
			<%= f.error_notification %>
			<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
			<%= f.input :rental_id, :as => :hidden, :input_html => { :value => @rental.id } %>
			<%= f.input :status, :as => :hidden, :input_html => { :value => 0 } %>
			<%= f.input :action, :as => :hidden, :input_html => { :value => 'Visit' } %>
			<%= f.input :date, label: "Date of the visit:", html5:true,:input_html => { :value => Date.today, class: "datepicker"} %>
			<%= f.input :complementary_info, label: "Complementary information (added to the message):" %>
			<%= f.input :location, :as => :hidden, :input_html => { :value => @rental.flat.address } %>
			<%= link_to "Back", flat_rental_path(@flat, @rental), {:class=>"btn btn-info"} %>
			<%= f.button :submit, "Create Visit", class: "btn-primary" %>
		<% end %>

	</div>

</div>