<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		id: "organize-visit",
		title: "Organize a new visit",
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id}", link: flat_rental_path(@flat.id, @rental.id) },
			{ text: "Organize visit" }
		],
		flat: @flat
%>

<div class="container">
	<div class="row">
		<div class="col col-sm-12 col-lg-8">
			<%# VISIT FORM %>
			<p class="lead">When do you want to <strong>plan the visit</strong>?</p>
			<%= simple_form_for (@task) do |f| %>
				<%= f.error_notification %>
				<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
				<%= f.input :rental_id, as: :hidden, input_html: { value: @rental.id } %>
				<%= f.input :status, as: :hidden, input_html: { value: 0 } %>
				<%= f.input :action, as: :hidden, input_html: { value: 'Visit' } %>
				<div class="form-row">
					<div class="col-6">
						<%= f.input :date, label: "Date", html5:true, input_html: { value: Date.today, class: "datepicker"} %>
					</div>
					<div class="col-6">
						<%= f.input :time, label: "Schedule" %>
					</div>
				</div>
				<%= f.input :complementary_info, as: :text, label: "Complementary information" %>
				<%= f.button :submit, "Organize Visit", class: "btn-primary" %>
				<%= link_to "‹ Back", flat_rental_path(@flat, @rental), {class: "btn btn-secondary"} %>
			<% end %>
			<br/>
			<%# RECIPIENTS %>
			<p>Following candidates will receive a <strong>message with all information</strong> to visit the flat.</p>
			<ul class="mb-5">
				<% @rental.dossiers.each do |dossier| %>
					<% if dossier.status == "ok_for_visit"%>
						<li>
							<strong>
							<%= "#{dossier.candidate.first_name} #{dossier.candidate.last_name}" %>
							</strong>
							<%= "(#{dossier.candidate.email})" %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<%# FLATER BOT %>
		<div class="col col-sm-12 col-lg-4">
			<%= render 'layouts/shared/flater-bot',
					bot_message: "Congrats  #{current_user.first_name.capitalize}! You're planning visits! Don't worry about no show, I'll send <strong>email or sms reminders</strong> 24 hours and 1 hour before the visit!",
					bot_action: "<a href=\"#\">Don't send automatic reminders</a>"
			%>
		</div>
	</div>
</div>