<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		title: "You are about to select your new tenant",
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id} (#{@rental.pending ? "pending" : "closed"})" }
		],
		flat: @flat
%>


<div class="container">
	
		<div class="text-center">
		   <p>You have selected <strong><%= @selected_dossier.candidate.first_name %> <%= @selected_dossier.candidate.last_name %> </strong> as your future tenant:</p>
		</div>

		<div class="text-center">
	      <%= cl_image_tag("Faces/#{@selected_dossier.candidate.facebook_picture_url}",:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"thumb") %>
	    </div>
		<br>
		<div class="text-center">
	      <i class="fas fa-user-circle text-primary"></i> The candidate will be informed by e-mail.
	      <br>
	      <i class="fas fa-users text-primary"></i> Other candidates will be noticed that they have not been retained.
	      <br><br>
	    </div>

		<div class="text-center">
			<%= link_to "Confirm tenant", confirm_tenant_flat_rental_path(@flat, @rental, dossier_id: @selected_dossier.id), method: :post, class: "btn btn-primary" %>
	    </div>

</div>