<% # VARIABLES
dossier_total = @rental.dossiers.count
dossier_rejected = @rental.dossiers.where(status: 'not_selected').count
dossier_to_improve = @rental.dossiers.where(status: 'to_improve').count
dossier_ok_for_visit = @rental.dossiers.where(status: 'ok_for_visit').count
dossier_visiting = @rental.dossiers.where(status: 'visiting').count
dossier_to_validate = dossier_visiting + dossier_ok_for_visit
is_are = dossier_to_validate > 1 ? 'are' : 'is'
documents = ['latest-revenues', 'tax-notices', 'ID', 'guarantors']
# TODO documents should supply: type of document (title), id (for modal), validation (true or false), document URL / content (for modal)
%>

<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		title: "#{pluralize(dossier_to_validate, 'applicant')} out of #{dossier_total} #{is_are} selected for visits",
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id} #{badge(@rental.status[:text], @rental.status[:color], @rental.status[:icon], '', false)}" }
		],
		flat: @flat
%>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<div class="card-dashboard">
			<%# RENTAL IS PENDING %>
			<% if @rental.pending %>
				<%# DISPLAY DOSSIERS %>
				<% if dossier_total > 0 %>
				<div>
					<% ["visiting", "ok_for_visit", "to_improve", "not_selected"].each do  |status|%>
						<div id="<%= status %>" >
							<h3 class="d-flex justify-content-between align-items-center pt-3 ">
								<%# TITLE %>
								<div><i class="fas fa-users"></i> <%= "#{@rental.dossiers.where(status: status).count} #{status.gsub('_', ' ')}" %></div>
								<%# CTA: VISITED - CONS-VISIT %>
								<% if status == 'visiting' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize another visit", "#", class: 'btn btn-info'  %>
									</div>
								<% end %>
								<%# CTA: OK FOR VISIIT - ORGANIZE VISIT %>
								<% if status == 'ok_for_visit' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize visit", organize_visit_flat_rental_path(@flat, @rental), class: 'btn btn-primary'  %>
									</div>
								<% end %>
								<%# CTA: TO IMPROVE - RELAUNCH FOR VALIDATION %>
								<% if status == 'to_improve' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Relaunch for validation", '', class: 'btn btn-warning', data: { toggle: "modal", target: "#relaunch" } %>
									</div>
								<% end %>
							</h3>
							<%# CANDIDATE LIST %>
							<ul class="list-group <%= status %>">
								<%= render 'candidates_list', rental: @rental, status: status, documents: documents %>
							</ul>
						</div>
					<% end %>
				</div>
			</div>

			<%# PROOF MODAL %>
			<% documents.each do |document| %>
				<%= render 'layouts/shared/modal',
						id: "document-#{document}",
						label: document,
						title: "<i class=\"fas fa-file-alt text-primary\"></i> #{document.gsub('-', ' ').capitalize}",
						content: 	cl_image_tag("dossiers/1/tax_proof_gxkwir", crop: :fit, :effect=>"grayscale")
				%>	
			<% end %>
			<%# RELAUNCH MODAL %>
			<%= render 'layouts/shared/modal',
					id: 'relaunch',
					label: 'relaunch',
					title: 'Notifications sent! <i class="fas fa-check text-primary"></i>',
					# content: (render 'layouts/shared/flater-bot',
					# bot_message: "<strong>These #{pluralize(dossier_to_improve, 'candidate')} have been sent a notification</strong> with individual flaw details in order they complete their dossier. Hope they're going eligible to visit soon!")
					content: "<strong>These 3 candidates have been sent a notification</strong> with individual flaw details in order they complete their dossier.</p><p>Hope they're going eligible to visit soon!</p>"
			%>	

		<% end %>
		<%# RENTAL IS CLOSED %>
		<% else %>
			<div>
				<%=  "Tenant ##{@rental.tenant_id} has been selected for this rental"%>
				<%=  " - Associated dossier ##{@rental.dossiers.where(candidate_id: @rental.tenant_id).last.id} - " %>
				<%= link_to "Generate contract", "#"  %>

			</div>
		<% end %>
		</div>
	</div>
</div>
