<% # VARIABLES
dossier_total = @rental.dossiers.count
dossier_to_validate = dossier_total - @rental.dossiers.where(status: 'not_selected').count
%>

<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id}" }
		],
		action: "<i class=\"fas fa-hand-holding-usd\"></i> #{@rental.initial_rent}€ <small class=\"text-muted\">/ month</small>"
%>

<div class="container">
	<p class="lead">This rental is currently <strong><%= @rental.pending ? "pending" : "closed" %></strong></p>

	<div class="row">
		<div class="col col-12">
			<div class="card-dashboard">
			<%# THERE IS AT LEAST 1 DOSSIER %>
			<% if @rental.pending %>
				<% is_are = dossier_to_validate > 1 ? 'are' : 'is' %>
				<h2><%= pluralize(dossier_to_validate, 'applicant') %> on <%= dossier_total %> <%= is_are %> waiting for validation</h2>
				
				<%# DISPLAY DOSSIERS %>
				<% if dossier_total > 0 %>
				<div>
					<% ["visiting", "ok_for_visit", "to_improve", "not_selected"].each do  |status|%>
						<div>
							<h3 class="d-flex justify-content-between align-items-center pt-3">
								<%= raw(badge("#{@rental.dossiers.where(status: status).count} #{status}", 'primary', 'users', '', false)) %>
								<% if status == 'visiting' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize cons-visit", organize_visit_flat_rental_path(@flat, @rental), class: 'btn btn-primary'  %>
									</div>
								<% end %>
								<% if status == 'ok_for_visit' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize visit", organize_visit_flat_rental_path(@flat, @rental), class: 'btn btn-primary'  %>
									</div>
								<% end %>
							</h3>
							<ul class="list-group">
								<% @rental.dossiers.each do |dossier| %>
									<% if dossier.status == status%>
										<% candidate = User.find(dossier.candidate_id) %>
										<li class="list-group-item d-flex justify-content-between align-items-center">
											<div>
												<h4 class="d-flex align-items-center">
													<%= cl_image_tag("Faces/face#{rand(1..12)}",
																:transformation=>[{ :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>'200', :crop=>"scale"}], :class => "avatar mr-3"
															) %>
													<%= "#{candidate.first_name.capitalize}" %> <%= "#{candidate.last_name.upcase}" %>
												</h4>
												<%= "dossier ##{dossier.id} - #{dossier.monthly_revenues} €/m - [all docs?]" %>
											</div>
											<%# BUTTONS %>
											<div>
												<% if dossier.status == "ok_for_visit" %>
													<%#= "[BOUTON Don't select]" %>
													<i class="fas fa-arrows-alt"></i>
												<% end %>
												<% if dossier.status == "to_improve" || dossier.status == "not_selected"%>
													<%#= "[BOUTON Ok for visits]" %>
													<i class="fas fa-arrows-alt"></i>
												<% end %>
											</div>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>
			</div>

			<% end %>
		<%# THERE'S NO DOSSIER %>
		<% else %>
			<div>
				<%= @rental.tenant.id "is your current tenant"%>
			</div>
		<% end %>
		</div>
	</div>
</div>
