<% # VARIABLES
dossier_total = @rental.dossiers.count
dossier_to_validate = dossier_total - @rental.dossiers.where(status: 'not_selected').count
documents = ['Latest revenues', 'Tax notice', 'ID', 'Garantors']
# TODO documents should supply: type of document (title), id (for modal), validation (true or false), document URL / content (for modal)
%>

<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		links: [
			{ text: "My flat ##{@flat.id}", link: flat_path(@flat.id) },
			{ text: "Rental ##{@rental.id}" }
		],
		action: "<i class=\"fas fa-hand-holding-usd\"></i> #{@rental.initial_rent}€ <small class=\"text-muted\">/ month</small>"
%>

<div class="container">
	<p class="lead">This rental is currently <strong><%= @rental.pending ? "pending" : "closed" %></strong></p>

	<div class="row">
		<div class="col col-12">
			<div class="card-dashboard">
			<%# THERE IS AT LEAST 1 DOSSIER %>
			<% if @rental.pending %>
				<% is_are = dossier_to_validate > 1 ? 'are' : 'is' %>
				<h2><%= pluralize(dossier_to_validate, 'applicant') %> on <%= dossier_total %> <%= is_are %> waiting for validation</h2>
				
				<%# DISPLAY DOSSIERS %>
				<% if dossier_total > 0 %>
				<div>
					<% ["visiting", "ok_for_visit", "to_improve", "not_selected"].each do  |status|%>
						<div id="<%= status %>" >
							<h3 class="d-flex justify-content-between align-items-center pt-3 ">
								<%# TITLE %>
								<%#= raw(badge("#{@rental.dossiers.where(status: status).count} #{status}", 'primary', 'users', '', false)) %>
								<div><i class="fas fa-users"></i> <%= "#{@rental.dossiers.where(status: status).count} #{status.gsub('_', ' ')}" %></div>
								<%# ORGANIZE VISIT BUTTON %>
								<% if status == 'visiting' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize cons-visit", organize_visit_flat_rental_path(@flat, @rental), class: 'btn btn-primary'  %>
									</div>
								<% end %>
								<% if status == 'ok_for_visit' && @rental.dossiers.where(status: status).count > 0 %>
									<div>
										<%= link_to "Organize visit", organize_visit_flat_rental_path(@flat, @rental), class: 'btn btn-primary'  %>
									</div>
								<% end %>
							</h3>
							<%# CANDIDATE LIST %>
							<ul class="list-group <%= status %>">
								<% @rental.dossiers.each do |dossier| %>
									<% if dossier.status == status%>
										<% candidate = User.find(dossier.candidate_id) %>
										<li class="list-group-item d-flex justify-content-between align-items-center">
											<div class="w-100">
												<h4 class="d-flex align-items-center">
													<%= cl_image_tag("Faces/face#{rand(1..12)}",
																:transformation=>[{ :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>'200', :crop=>"scale"}], :class => "avatar avatar-large mr-3"
															) %>
													<div>
														<div class="dossier-id"><i class="fas fa-file-import"></i> <%= "Dossier ##{dossier.id}" %></div>
														<div class="dossier-details d-flex align-items-center">
															<span class="mr-2"><%= "#{candidate.first_name.capitalize}" %> <%= "#{candidate.last_name.upcase}" %></span>
															<% messages_count = [0, 1, rand(0..10)].sample %>
															<% message_class = 'info' if status == 'visiting' %>
															<% message_class = 'primary' if status == 'ok_for_visit' %>
															<% message_class = 'warning' if status == 'to_improve' %>
															<% message_class = 'danger' if status == 'not_selected' %>
															<% messages_display = messages_count > 0 ? false : true %>
															<% messages_new = messages_count > 0 ? ['new message', ''].sample : '' %>
															<span class="mr-2"><%= raw(badge(messages_count, message_class, 'comments', '#', messages_display)) %></span>
															<strong class="new-message"><%= messages_new %></strong>
														</div>
													</div>
												</h4>
												<div id="candidate-documents" class="d-flex justify-content-between align-items-center">
													<strong><i class="fas fa-file-invoice-dollar text-primary"></i> <%= "#{dossier.monthly_revenues}" %>€ / month</strong>
													<% 
													documents.each do |document|
														if status == 'visiting' || status == 'ok_for_visit'
															document_ok = "<i class=\"fas fa-check text-primary\"></i>"
														else
															document_ok = ["<i class=\"fas fa-check text-primary\"></i>", "<i class=\"fas fa-times text-danger\"></i>"].sample
														end
													%>
														<a data-toggle="modal" data-target="#exampleModal"><%= raw("#{document} #{document_ok}") %></a>
													<% end %>
												</div>
											</div>
											<%# BUTTONS %>
											<div class="drag-and-drop">
												<% if dossier.status == "ok_for_visit" %>
													<%#= "[BOUTON Don't select]" %>
													<i class="fas fa-arrows-alt"></i>
												<% end %>
												<% if dossier.status == "to_improve" || dossier.status == "not_selected"%>
													<%#= "[BOUTON Ok for visits]" %>
													<i class="fas fa-arrows-alt"></i>
												<% end %>
											</div>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>
			</div>

			<%# MODAL %>
			<% documents.each do |document| %>
				<%= render 'layouts/shared/modal',
						id: 'exampleModal',
						label: 'exampleModal',
						title: document,
						content: '…'
				%>	
			<% end %>

		<% end %>
		<%# THERE'S NO DOSSIER %>
		<% else %>
			<div>
				<%= @rental.tenant.id "is your current tenant"%>
			</div>
		<% end %>
		</div>
	</div>
</div>
