<%# HEADER %>
<%= render 'layouts/shared/dashboard-breadcrumb',
		links: nil,
		action: nil
%>

<div class="container">
	<div class="row">
		<div class="col col-sm-12 col-lg-6 card-dashboard">
			<div class="card-content">
				<a href="<%= flats_path %>" class="d-flex justify-content-between">
					<h2><i class="fas fa-building text-primary"></i> My flats</h2>
				</a>
				Current rentals: 7<br/>
				Empty flat: 0<br/>
				Monthly rents: 4780€
			</div>
		</div>
		<div class="col col-sm-12 col-lg-6 card-dashboard">
			<div class="card-content">
				<a href="<%= dashboard_path %>" class="d-flex justify-content-between">
					<h2><i class="fas fa-file-import text-primary"></i> My applications</h2>
				</a>
				???: 0<br/>
				???: 4780€
			</div>
		</div>
		<div class="col col-sm-12 col-lg-6 card-dashboard">
			<div class="card-content">
				<a href="<%= dashboard_path %>" class="d-flex justify-content-between">
					<h2><i class="fas fa-street-view text-primary"></i> My visits</h2>
				</a>
				Current visits: 0<br/>
				Coming next visits: 2<br/>
				Visit to plan: 2
			</div>
		</div>
		<div class="col col-sm-12 col-lg-6 card-dashboard">
			<div class="card-content">
				<a href="<%= dashboard_path %>" class="d-flex justify-content-between">
					<h2><i class="fas fa-file-signature text-primary"></i> My contracts</h2>
				</a>
				Current visits: 0<br/>
				Coming next visits: 2<br/>
				Visit to plan: 2
			</div>
		</div>
	</div>
</div>