<div class="banner home">
  <div class="container d-flex justify-content-between">
    <div>
      <h1><span><strong>Flater</strong><sup>&trade;</sup></span></h1>
      <p class="lead">As a flat owner or as a tenant<strong id="typed" data-strings="<%= [", select…", ", rent…", ", chill!"].to_json  %>"></strong></p>

      <%= link_to 'Manage my flats', flats_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Send my application', "#", class: 'btn btn-outline-light btn-lg' %>
    </div>

    <% unless user_signed_in? %>
      <div class="form-container">
        <%= render 'devise/registrations/form' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'pages/flater-description' %>
</div>
